<h1>Edit Student Form:</h1>
<%= form_for @student do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => 'required' %> <br>

    <%= f.label :mod %>
    <%= f.select(:mod, 1..5) %> <br>

    <%= f.submit %>
<% end %>