<h1> Edit Student </h1>
<%= form_for @student do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => 'required'%>
    <%= f.label :mod %>
    <%= f.select(:mod, 1..5) %>
    <%= f.submit "Update Student" %>
    <% end %>